<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liga Deportiva</title>
    <!-- Agregar Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agregar tu hoja de estilos personalizada -->
    <link rel="stylesheet" href="news.component.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">Liga Deportiva</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="players">Jugadores</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="teams">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="matches">Partidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            <section class="banner">
                <div class="text-center">
                    <h1>Noticias</h1>
                    <p>Explorar Noticias</p>
                </div>
            </section>
        </div>
        
        

        <section class="destacado">
            <div class="container-fluid">
                <h2>Últimas noticias</h2>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6wKMPXYZLF0?si=JOc1DxuSVYGj_Vfr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/KPICzDKVNQs?si=JMkiEPJWashxnibx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section class="destacado">
            <div class="container-fluid">
                <h2>Últimas noticias</h2>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/v_v2hT908os?si=0RhlQs4mYqb3n6Ve" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/PZna_GRr_g8?si=j_o5h2PN51ewwv7j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="destacado">
            <div class="container-fluid">
                <h2>Noticias llamativas</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <img src="imagen2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="card-title"></h3>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="galeria bg-light">
            <div class="container-fluid">
                <h2>Estadios en Construcción</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="https://images.adsttc.com/media/images/5b19/96d0/f197/cc4e/6100/0045/large_jpg/Screen_Shot_2018-06-07_at_21.05.09.jpg?1528403655" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="https://images.adsttc.com/media/images/5b19/9694/f197/cc4e/6100/0044/large_jpg/Screen_Shot_2018-06-07_at_21.12.18.jpg?1528403595" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="https://1.bp.blogspot.com/-Bd6Vjwa-65k/WFVTymFQWCI/AAAAAAAABbs/Z-l15KXjBzgKcZ0tRMg08dg6RDHb5KgvgCLcB/s1600/image.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

   

<div class="container my-5">

    <footer class="bg-dark text-light text-center py-15">
        <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">See other books</h5>
  
            <ul class="list-unstyled mb-0">
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Execution of the contract</h5>
  
            <ul class="list-unstyled">
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Publishing house</h5>
  
            <ul class="list-unstyled">
        
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Write to us</h5>
  
            <ul class="list-unstyled">
              
            </ul>
          </div>
        </div>
      </div>
      

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white" href="http://localhost:4200/home">Liga Deportiva FEM.</a>
      </div>
    </footer>
  </div>
  
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
