<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liga Deportiva</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="players.component.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">Liga Deportiva</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="players">Jugadores</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="teams">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="matches">Partidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Login">Login</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="container-fluid text-center">
                <h1>Conoce a Nuestros Jugadores</h1>
                <p>Explora las últimas noticias, eventos y más.</p>
                
                
            </div>

        </section>

        <section class="container-fluid">
            <div class="text-right mt-4">
                <a href="registerplayers" class="btn btn-success">Agregar Jugador</a>
            </div>
        </section>
        

        <section class="destacado">
            <div class="container-fluid">
                <h2>Buscar Jugador</h2>
                <form class="form-inline mb-4">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Buscar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <div class="row">
                    
                
                </div>
            </div>
        </section>
    
        <section class="destacado">
            <div class="container-fluid">
                <h2>Perfil del Jugador</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://imgs.search.brave.com/6e_UVkv7H1u4mCFUUVy6ECDPgptsNGAQVSaNLLa3Fw0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzA2L2Vj/LzA0LzA2ZWMwNDVl/ODNlMTcyOTdjYjgz/MmU3ZDdkYWVhMGJi/LmpwZw"
                                     class="card-img" alt="Lionel Messi">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Lionel Messi</h3>
                                        <p class="card-text">Posición: Delantero</p>
                                        <p class="card-text">Número: 10</p>
                                        <p class="card-text">Equipo: Barcelona</p>
                                        <p class="card-text">Descripción: Considerado uno de los mejores futbolistas de todos los tiempos, Lionel Messi es conocido por su habilidad para driblar, su visión de juego y su capacidad goleadora.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        
        

    </main>

    <div class="container my-5">

        <footer class="bg-dark text-light text-center py-15">
            <div class="container-fluid">
            <div class="row mt-4">
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">See other books</h5>
      
                <ul class="list-unstyled mb-0">
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Execution of the contract</h5>
      
                <ul class="list-unstyled">
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Publishing house</h5>
      
                <ul class="list-unstyled">
            
                </ul>
              </div>
      
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Write to us</h5>
      
                <ul class="list-unstyled">
                  
                </ul>
              </div>
            </div>
          </div>
          
    
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="http://localhost:4200/home">Liga Deportiva FEM.</a>
          </div>
        </footer>
      </div>
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    
        
    </script>
</body>
</html>
