<form [formGroup]="loginForm" (ngSubmit)="login()" class="football-login">
    <p-card header="Logueo Administrador" [style]="{ width: '360px' }">
      <div class="field">
        <label for="email">Correo Electrónico</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Teclea tu Correo Electrónico"
        />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
          <div *ngIf="email.hasError('required')"></div>
        </small>
      </div>
      
      <div class="field">
        <label for="contrasena">Contraseña</label>
        <p-password formControlName="password" name="password" [toggleMask]="true" styleClass="w-full"></p-password>
      </div>
      
      <div class="button">
        <p-button type="submit" label="Ingresar" styleClass="w-full"></p-button>
        <div class="mt-2">
         
        </div>
      </div>
    </p-card>
  </form>
  